input{
    width: 20px;
}

div#calcmath{
    border: 4px solid black;
}

#result{
    text-align: center;
}
#result>input{
    width: 60px;
}
#matB{
    float: right;
    text-align: center;
    margin-right:20px;
}
#matA{
    float: left;
    text-align: center;
    margin-left: 20px;
}
#matA>button,#matB>button{
    width: 144px;
}
#buttonSizeB1{
    position: relative;
    top: 45px ;
    margin-right: 130px;
}
#buttonSizeB2{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;

}#buttonSizeA1{
     position: relative;
     top: 45px;
     margin-left: 130px;
 }
#buttonSizeA2{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
mo {
    padding-left: 0.22em;
    padding-right: 0.22em;
    transform-origin: 50% calc(50% + 0.125ex);
    display: inline-block;
    vertical-align: baseline;
}

